@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,700&display=swap");
* {
  /*para que el navegador no me ponga margenes*/
  margin: 0;
  /*Del borde hacia afuera*/
  padding: 0;
  /*Del contendio al borde*/
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif; }

header nav {
  background-color: #faa632;
  transition: 0.3s; }
  header nav .opc li {
    transition: 0.3s;
    margin-right: 50px; }
    header nav .opc li:hover {
      transform: scale(1.1); }
  header nav .buscar {
    text-decoration: none;
    background-color: #faa632;
    color: black;
    font-family: var(--bs-font-sans-serif);
    font-size: medium;
    padding: 5px;
    font-weight: 500;
    border: none;
    transition: 0.3s; }
    header nav .buscar:hover {
      transform: scale(1.05); }
  header nav .logo img {
    width: 80px;
    height: 80px;
    margin: 20px;
    margin-right: 50px; }

main .ofertas div, main .categoriasProductos, main .servicio div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

/*---------------INDEX---------------*/
main {
  background-color: rgba(56, 56, 56, 0.882); }
  main .titulo {
    color: white;
    /*Color*/
    font-size: 50px;
    /*Tamano de letra*/
    font-weight: 500px;
    /*Negrita*/
    font-style: normal;
    /*Estilo de letra*/
    font-family: 'Rubik', sans-serif;
    /*Tipografia*/
    letter-spacing: 10px;
    /*Espacio entre letras*/
    line-height: 100px;
    /*Separa entre linea y linea*/
    text-align: center;
    /*posicion del texto*/
    background-color: rgba(0, 0, 0, 0.574);
    margin: 0; }
  main .loMasVendido {
    text-align: center; }
    main .loMasVendido h2 {
      margin-top: 25px;
      color: black;
      background-color: #faa632;
      padding: 4px; }
    main .loMasVendido div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
      main .loMasVendido div div {
        width: 40vh;
        height: 70vh;
        margin: 30px;
        padding: auto;
        border: 4px solid black;
        line-height: auto;
        background-color: black;
        color: white;
        letter-spacing: 2px;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
        cursor: default; }
        main .loMasVendido div div:hover {
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          transform: translateY(-2%); }
        main .loMasVendido div div a {
          text-decoration: none;
          background-color: #faa632;
          width: 50%;
          color: black;
          padding: 4px;
          border: 3px solid rgba(56, 56, 56, 0.882);
          transition: 0.3s;
          margin-bottom: 8px; }
          main .loMasVendido div div a:hover {
            background-color: #ff8800;
            font-size: 17px;
            border: 3px solid rgba(56, 56, 56, 0.882); }
        main .loMasVendido div div img {
          width: 100%;
          height: 80%;
          border-bottom: 4px solid black; }
  main .verMas {
    text-decoration: none;
    background-color: #faa632;
    color: black;
    padding: 4px;
    line-height: 50px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.3s; }
    main .verMas:hover {
      background-color: #ff8800;
      font-size: 21px;
      border: 3px solid black;
      color: black; }
  main .ofertas {
    text-align: center; }
    main .ofertas h2 {
      margin-top: 25px;
      color: black;
      background-color: #faa632;
      padding: 4px; }
    main .ofertas div div {
      width: 55vh;
      height: 55vh;
      margin: 30px;
      padding: auto;
      border: 4px solid black;
      line-height: auto;
      background-color: black;
      color: white;
      letter-spacing: 2px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease;
      cursor: default; }
      main .ofertas div div:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-2%); }
      main .ofertas div div img {
        width: 100%;
        height: 70%;
        border-bottom: 4px solid black; }
      main .ofertas div div a {
        text-decoration: none;
        background-color: #faa632;
        color: black;
        padding: 4px;
        border: 3px solid rgba(56, 56, 56, 0.882);
        transition: 0.3s;
        margin-bottom: 10px; }
        main .ofertas div div a:hover {
          background-color: #ff8800;
          font-size: 17px;
          border: 3px solid rgba(56, 56, 56, 0.882); }
  main .categorias {
    text-align: center; }
    main .categorias h2 {
      margin-top: 25px;
      color: black;
      background-color: #faa632;
      padding: 4px; }
    main .categorias div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
      main .categorias div div {
        display: inline-block;
        margin: 50px 100px 50px 100px;
        transition: 0.3s; }
        main .categorias div div:hover {
          transform: scale(1.07); }
        main .categorias div div img {
          width: 150px;
          height: 150px; }
        main .categorias div div h3 {
          margin: 10px;
          letter-spacing: 2px;
          color: black; }

/*---------------CONTACTO---------------*/
main .titulo2 {
  color: white;
  /*Color*/
  font-size: 50px;
  /*Tamano de letra*/
  font-weight: 500px;
  /*Negrita*/
  font-style: normal;
  /*Estilo de letra*/
  font-family: 'Rubik', sans-serif;
  /*Tipografia*/
  letter-spacing: 10px;
  /*Espacio entre letras*/
  line-height: 100px;
  /*Separa entre linea y linea*/
  text-align: center;
  /*posicion del texto*/
  background-color: rgba(56, 56, 56, 0.882); }

main .hero2 {
  width: 100%;
  height: 13.5vh;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

main .informacion {
  width: 90%; }
  main .informacion form div {
    padding-left: 100px; }
    main .informacion form div:nth-child(1) {
      padding-top: 40px; }
    main .informacion form div:nth-child(2) {
      padding-top: 40px; }
    main .informacion form div:nth-child(8) {
      padding-bottom: 40px; }
    main .informacion form div label {
      background-color: rgba(222, 222, 222, 0.884);
      padding: 5px; }

/*---------------PRODUCTOS---------------*/
main .boxProductos {
  text-align: center; }
  main .boxProductos h2 {
    margin-top: 25px;
    color: black;
    background-color: #faa632;
    padding: 4px; }
  main .boxProductos div div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    main .boxProductos div div div {
      width: 55vh;
      height: 55vh;
      margin: 30px;
      padding: auto;
      border: 4px solid black;
      line-height: auto;
      background-color: black;
      color: white;
      letter-spacing: 2px;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease;
      cursor: default; }
      main .boxProductos div div div:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-2%); }
      main .boxProductos div div div img {
        width: 100%;
        height: 70%;
        border-bottom: 4px solid black; }
      main .boxProductos div div div a {
        text-decoration: none;
        background-color: #faa632;
        color: black;
        padding: 4px;
        border: 3px solid rgba(56, 56, 56, 0.882);
        transition: 0.3s;
        margin-bottom: 10px; }
        main .boxProductos div div div a:hover {
          transform: scale(1.05);
          background-color: #ff8800;
          border: 3px solid rgba(56, 56, 56, 0.882); }

main .categoriasProductos h2 {
  margin-top: 25px;
  color: black;
  background-color: #faa632;
  padding: 4px; }

main .categoriasProductos div {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  border: 4px solid #faa632;
  line-height: auto;
  transition: 0.3s;
  text-align: center;
  background-color: #faa632;
  color: black;
  letter-spacing: 2px; }
  main .categoriasProductos div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px; }
  main .categoriasProductos div:hover {
    background-color: #ff8800;
    border: 4px solid black; }
  main .categoriasProductos div h3 {
    margin: 10px;
    letter-spacing: 2px; }

/*---------------SERVICIOS---------------*/
main .servicio div div {
  width: 35vh;
  height: auto;
  margin: 30px;
  padding: 10px;
  border: 4px solid black;
  line-height: auto;
  background-color: #faa632;
  color: black;
  letter-spacing: 2px;
  transition: 0.3s; }
  main .servicio div div:hover {
    background-color: #ff8800;
    border: 4px solid black;
    transform: scale(1.03); }

main .servicio div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700px;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;
  text-align: center; }

/*---------------NOSOTROS---------------*/
main .gridContainer {
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: "logo logo logo logo" "texto texto texto texto" "party1 party2 party3 party4";
  text-align: center; }

main .bigLogo {
  grid-area: logo; }

main .textNosotros {
  grid-area: texto; }

main .party1 {
  grid-area: party1; }
  main .party1 img {
    width: 40vh;
    height: 30vh;
    margin: 20px;
    background-color: black;
    padding: 5px; }

main .party2 {
  grid-area: party2; }
  main .party2 img {
    width: 40vh;
    height: 30vh;
    margin: 20px;
    background-color: black;
    padding: 5px; }

main .party3 {
  grid-area: party3; }
  main .party3 img {
    width: 40vh;
    height: 30vh;
    margin: 20px;
    background-color: black;
    padding: 5px; }

main .party4 {
  grid-area: party4; }
  main .party4 img {
    width: 40vh;
    height: 30vh;
    margin: 20px;
    background-color: black;
    padding: 5px; }

main .bigLogo div img {
  background-color: #faa632;
  border-radius: 100%;
  padding: 3px; }

main .textNosotros p {
  padding: 10px;
  font-size: 20px;
  background-color: #8d8d8d;
  text-align: center; }

footer {
  background-color: #faa632;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  footer div ul {
    margin: 20px;
    list-style: none; }
  footer .botonFixed img {
    width: 65px;
    height: 65px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: all 400ms ease;
    cursor: pointer; }
    footer .botonFixed img:hover {
      transform: translateY(-3%); }
  footer .logo {
    margin-left: 30px; }
    footer .logo img {
      width: 100px;
      height: 100px; }
  footer .redes img {
    width: 65px;
    height: 65px;
    margin-right: -5px;
    margin-left: 15px; }
  footer .footerUL li {
    transition: 0.3s; }
    footer .footerUL li a {
      text-decoration: none;
      color: black;
      font-size: medium; }
    footer .footerUL li:hover {
      transform: scale(1.1); }

@media screen and (max-width: 1300px) {
  header {
    padding: 0; } }

@media screen and (max-width: 685px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 770px) {
  footer .botonFixed {
    display: none; } }

@media screen and (max-width: 1245px) {
  footer {
    flex-direction: column;
    padding: 0; } }

@media screen and (max-width: 470px) {
  main .ofertas div {
    flex-direction: column;
    text-align: center; }
    main .ofertas div div {
      width: 40vh;
      height: 75vh; }
      main .ofertas div div img {
        width: 100%;
        height: 80%;
        object-fit: cover; } }

@media screen and (max-width: 1250px) {
  main .loMasVendido div div {
    height: 75vh; }
    main .loMasVendido div div img {
      height: 75%;
      object-fit: cover; } }

@media screen and (max-width: 390px) {
  main .categorias div div img {
    width: 120px;
    height: 120px; }
  main .categorias div div h3 {
    display: none; }
  footer .redes img {
    width: 50px;
    height: 50px;
    margin: 0 10px 15px 10px; } }

@media screen and (max-width: 1300px) {
  main .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo logo" "texto texto" "party1 party2" "party3 party4";
    text-align: center; } }

@media screen and (max-width: 780px) {
  main .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo" "texto" "party1" "party2" "party3" "party4";
    text-align: center; } }

@media screen and (max-width: 400px) {
  main .bigLogo img {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 560px) {
  main .boxProductos div div {
    justify-content: center; }
    main .boxProductos div div div {
      width: 40vh;
      height: 60vh; }
      main .boxProductos div div div img {
        width: 100%;
        height: 75%;
        object-fit: cover; } }

@media screen and (max-width: 500px) {
  main .banner {
    display: none; } }

@media screen and (min-width: 501px) {
  main .banner2 div img {
    display: none; } }

@media screen and (max-width: 501px) {
  main .banner2 div img {
    width: 100%;
    height: 30vh;
    object-fit: cover; } }
