@import "../base/variables";
@import "../base/maps";
@import "../base/mixins";

footer 
{
    background-color: nth($colores , 1 ); 
    @include flex(flex, space-around, center, wrap);
    div
    {
        ul /*Lista footer*/
        {
            margin: 20px;
            list-style:none;
        }
    }
    .botonFixed 
    {
        img /*Boton de ayuda*/
        {
            width: 65px;
            height: 65px;
            position: fixed;
            right: 15px;
            bottom: 15px;
            transition: all 400ms ease;
            cursor: pointer;
            &:hover
            {
                transform: translateY(-3%);
            }
        }
    }

    .logo /*Logo footer*/
    {
        margin-left: 30px;
        img
        {
            width: 100px;
            height: 100px;
        }
    }

    .redes/*Redes sociales*/
    {
        img
        {
            width: 65px;
            height: 65px;
            margin-right: -5px;
            margin-left: 15px;
            transition: all 400ms ease;
            cursor: pointer;
            &:hover
            {
                transform: translateY(-5%);
            }
        }
    }

    .footerUL
    {
        li
        {
            transition: 0.3s;
            a
            {
                text-decoration: none;
                color: nth($colores, 4 );
                font-size: medium;
            }
            &:hover
            {
                transform: scale(1.1);
            }
        }
    }
}