@import "../base/variables";
@import "../base/maps";
@import "../base/extends";
@import "../base/mixins";

/*---------------INDEX---------------*/

main
{
    background-color: nth($colores , 2 );
    .titulo /*ID Titulo*/
    {
        color: nth($colores , 5 ); /*Color*/
        font-size: 50px; /*Tamano de letra*/
        font-weight: 500px; /*Negrita*/
        font-style:normal; /*Estilo de letra*/
        font-family: 'Rubik', sans-serif; /*Tipografia*/
        letter-spacing: 10px;/*Espacio entre letras*/
        line-height: 100px; /*Separa entre linea y linea*/
        text-align: center; /*posicion del texto*/
        background-color: rgba(0, 0, 0, 0.574);
        margin: 0;
    }
    .loMasVendido /*Seccion lo mas vendido*/
    {
        text-align: center;
        h2 /*Lo mas vendido titulo*/
        {
            margin-top: 25px;
            color: nth($colores , 4 );
            background-color:  nth($colores , 1 );
            padding: 4px;
        }
        div /*Flex section lo mas vendido*/
        {
            @include flex (flex, space-evenly, center, wrap);
            div /*Box lo mas vendido*/
            {
                @include basic (40vh, 70vh, 30px, auto, 4px solid nth($colores , 4 ), auto);
                background-color: nth($colores , 4 );
                color: white;
                letter-spacing: 2px;
                flex-direction: column;
                justify-content: space-between;
                a /*Boton lo mas vendido*/
                {
                    text-decoration: map-get($botonCajasAngostas , decoracion );
                    background-color: map-get($botonCajasAngostas , bg-color );
                    width: map-get($botonCajasAngostas , width );
                    color: nth($colores , 4 );
                    padding: map-get($botonCajasAngostas , paddingh); 
                    border: map-get($botonCajasAngostas , border );
                    transition: map-get($botonCajasAngostas , transition );
                    margin-bottom: map-get($botonCajasAngostas , margin-bottom );
                    &:hover  /*Hover botones lo mas vendido*/
                    {
                        background-color: nth($colores , 3 );
                        font-size: 17px;
                        border: 3px solid nth($colores , 2 );
                    }
                }
                img /*Img lo mas vendido*/
                {
                    width: 100%;
                    height:80% ;
                    border-bottom: 4px solid nth($colores , 4 );
                }
            }
        }
    }
    .verMas /*Botn ver mas*/
    {
        text-decoration: none;
        background-color: nth($colores , 1 );
        color: nth($colores , 4 );
        padding: 4px;  
        line-height: 50px;
        font-size: 20px;
        padding-right: 20px;
        padding-left: 20px;
        transition: 0.3s;
        &:hover /*Hover ver mas*/
        {
            background-color: nth($colores , 3 );
            font-size: 21px;
            border: 3px solid nth($colores , 4 );
            color: nth($colores , 4 );
        }
    }
    .ofertas /*Seccion ofertas*/
    {
        text-align: center;
        h2/*Titulo ofertas*/
        {
            margin-top: 25px;
            color: nth($colores , 4 );
            background-color:  nth($colores , 1 );
            padding: 4px;
        }
        div/*Flex section ofertas*/
        {
            @extend %flex;
            div /*Box ofertas*/
            {
                @include basic (55vh, 55vh, 30px, auto, 4px solid nth($colores , 4 ), auto);
                background-color: nth($colores , 4 );
                color: nth($colores , 5 );
                letter-spacing: 2px;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                img /*Img ofertas*/
                {
                    width:100% ;
                    height:70%;
                    border-bottom: 4px solid nth($colores , 4 );
                }
                a /*Botones Ofertas*/
                {
                    text-decoration: map-get($botonCajasAnchas , decoracion );
                    background-color: map-get($botonCajasAnchas , bg-color );
                    color: map-get($botonCajasAnchas , color );
                    padding: map-get($botonCajasAnchas , padding ); 
                    border: map-get($botonCajasAnchas , border );
                    transition: map-get($botonCajasAnchas , transition );
                    margin-bottom: map-get($botonCajasAnchas , margin-bottom );
                    &:hover/*Hover boton ofertas*/
                    {
                        background-color: nth($colores , 3 );
                        font-size: 17px;
                        border: 3px solid nth($colores , 2 );
                    }
                }
            }
        }
    }
    .categorias /*Texto categorias*/
    {
        text-align: center;
        h2 /*Titulo categorias*/
        {
            margin-top: 25px;
            color: nth($colores , 4 );
            background-color:  nth($colores , 1 );
            padding: 4px;
        }
        div /*Flex categorias productos*/
        {
            @include flex(flex, space-evenly, center, wrap);
            div  /*Disposicion categorias*/
            {
                display:inline-block;
                margin: 50px 100px 50px 100px;
                transition: 0.3s;
                &:hover /*Hover Categorias*/
                {
                    transform: scale(1.07);
                }
                img /*Img categorias*/
                {
                    width: 150px;
                    height: 150px;
                }
                h3 /*Nombre caegorias*/
                {
                    margin: 10px;
                    letter-spacing: 2px;
                    color: nth($colores , 4 );
                }
            }
        }
    }
}

/*---------------CONTACTO---------------*/

main
{
    .titulo2 /*ID Titulo pages != index*/
    {
        color: nth($colores , 5 ); /*Color*/
        font-size: 50px; /*Tamano de letra*/
        font-weight: 500px; /*Negrita*/
        font-style:normal; /*Estilo de letra*/
        font-family: 'Rubik', sans-serif; /*Tipografia*/
        letter-spacing: 10px;/*Espacio entre letras*/
        line-height: 100px; /*Separa entre linea y linea*/
        text-align: center; /*posicion del texto*/
        background-color: nth($colores , 2 );
    }
    .hero2/*Banner No index*/
    { 
        width: 100%;
        height: 13.5vh;
        background-image: url("../img/banner.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .informacion /*Campo Form*/
    {
        width: 90%;
        form
        {
            div
            {
                padding-left: 100px;
                &:nth-child(1) /*Primer hijo del form*/
                {
                    padding-top: 40px;
                }
                &:nth-child(2) /*Segundo hijo del form*/
                {
                    padding-top: 40px;
                }
                &:nth-child(8) /*Ultimo hijo del form*/
                {
                    padding-bottom:40px;
                }
                label /*Texto form*/
                {
                    background-color: rgba(222, 222, 222, 0.884);
                    padding: 5px;
                }
            }  
        }
    }
}

/*---------------PRODUCTOS---------------*/

main
{
    .boxProductos /*Pagina productos*/
    {
        text-align: center;
        h2/*Titulo secciones productos*/
        {
            margin-top: 25px;
            color: nth($colores , 4 );
            background-color:  nth($colores , 1 );
            padding: 4px;
        }
        div
        {
            div /*Flex page productos*/
            {
                @include flex (flex, space-evenly, center, wrap);
                div /*Box productos*/
                {
                    @include basic (55vh, 55vh, 30px, auto, 4px solid nth($colores , 4 ), auto);
                    background-color: nth($colores , 4 );
                    color: nth($colores , 5 );
                    letter-spacing: 2px;
                    flex-direction: column;
                    justify-content: space-between;
                    img /*Img page producto*/
                    {
                        width:100% ;
                        height:70% ;
                        border-bottom: 4px solid nth($colores , 4 );
                    }
                    a /*Boton productos*/
                    {
                        text-decoration: map-get($botonCajasAnchas , decoracion );
                        background-color: map-get($botonCajasAnchas , bg-color );
                        color: map-get($botonCajasAnchas , color );
                        padding: map-get($botonCajasAnchas , padding ); 
                        border: map-get($botonCajasAnchas , border );
                        transition: map-get($botonCajasAnchas , transition );
                        margin-bottom: map-get($botonCajasAnchas , margin-bottom );
                        &:hover/*Hover Boton productos*/
                        {
                            transform: scale(1.05);
                            background-color: nth($colores , 3 );
                            border: 3px solid nth($colores , 2 );
                        }
                    }
                }
            }
        }
    }
    .categoriasProductos /*Texto categorias*/
    {
        @extend %flex;
        h2 /*Titulo categorias*/
        {
            margin-top: 25px;
            color: nth($colores , 4 );
            background-color:  nth($colores , 1 );
            padding: 4px;
        }
        div  /*Disposicion categorias productos*/
        {
            @include basic (auto, auto, 10px, 5px, 4px solid nth($colores , 1 ), auto);
            transition: 0.3s;
            text-align: center; 
            background-color: nth($colores , 1 );
            color: nth($colores , 4 );
            letter-spacing: 2px;
            a /*Botones categorias productos*/
            {
                text-decoration: none;
                color: nth($colores , 4 );
                font-size: 20px;
                font-weight: 900; 
                font-style:normal;
                font-family: 'Rubik', sans-serif; 
                letter-spacing: 2px;
                text-align: center; 
                padding: 5px;
            }
            &:hover /*Hover enlaces categorias productos*/
            {
                background-color: nth($colores , 3 );
                border: 4px solid nth($colores , 4 );
            }
            h3 /*Nombre caegorias productos*/
            {
                margin: 10px;
                letter-spacing: 2px;
            }
        }
    }
}

/*---------------SERVICIOS---------------*/

main
{
    .servicio
    {
        div /*pagina servicios*/
        {
            @extend %flex;
            div /*Box servicios*/
            {
                @include basic (35vh, auto, 30px, 10px, 4px solid nth($colores , 4 ), auto);
                background-color:  nth($colores , 1 );
                color: nth($colores , 4 );
                letter-spacing: 2px;
                transition: 0.3s;
                &:hover /*Hover enlaces categorias productos*/
                {
                    background-color: nth($colores , 3 );
                    border: 4px solid nth($colores , 4 );
                    transform: scale(1.03);
                }
            }
            a /*Enlaces categorias servicio*/
            {
                text-decoration: none;
                color: nth($colores , 4 );
                font-size: 20px;
                font-weight: 700px; 
                font-style:normal;
                font-family: 'Rubik', sans-serif; 
                letter-spacing: 2px;
                text-align: center; 
            }
        }    
    }
}

/*---------------NOSOTROS---------------*/

main
{
    .gridContainer /*Grilla main nosotros*/
    {
        width: 100%;
        padding: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas: 
        "logo logo logo logo"
        "texto texto texto texto"
        "party1 party2 party3 party4";
        text-align: center;
    }
    .bigLogo /*Logo grande*/
    {
        grid-area: logo;
    }
    .textNosotros /*Nuestra descripcion*/
    {
        grid-area: texto;
    }
    .party1 /*Imagen Nosotros*/
    {
        grid-area: party1;
        img /*Ajustes imagen nosotros*/
        {
            width: 40vh;
            height: 30vh;
            margin: 20px;
            background-color: nth($colores , 4 );
            padding: 5px;
        }
    }
    .party2 /*Imagen Nosotros*/
    {
        grid-area: party2;
        img /*Ajustes imagen nosotros*/
        {
            width: 40vh;
            height: 30vh;
            margin: 20px;
            background-color: nth($colores , 4 );
            padding: 5px;
        }
    }
    .party3 /*Imagen Nosotros*/
    {
        grid-area: party3;
        img /*Ajustes imagen nosotros*/
        {
            width: 40vh;
            height: 30vh;
            margin: 20px;
            background-color: nth($colores , 4 );
            padding: 5px;
        }
    }
    .party4 /*Imagen Nosotros*/
    {
        grid-area: party4;
        img /*Ajustes imagen nosotros*/
        {
            width: 40vh;
            height: 30vh;
            margin: 20px;
            background-color: nth($colores , 4 );
            padding: 5px;
        }
    }
    .bigLogo
    {
        div
        {
            img /*Ajustes logo nosotros*/
            {
                background-color: nth($colores , 1 );
                border-radius: 100%;
                padding: 3px;
            }
        }
    }
    .textNosotros
    {
        p /*Ajustes parrafo nosotros*/
        {
            padding: 10px;
            font-size: 20px;
            background-color: rgb(141, 141, 141);
            text-align: center;
        }
    }
}